
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');
.container-card-job {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
   width: 100%;
   background-color: whitesmoke;
 
  
 
  box-shadow: 10px 5px 5px rgb(201, 187, 201);
}
.title-job{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}